@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-image, .media-image, .portfolio-media-image {
  max-width: 40px;
}

.skill-title {
  font-size: 9px;
}

.profile-picture {
  max-width: 250px;
}