@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-image, .languages-item img {
  max-width: 35px;
}

.media-image, .portfolio-media-image {
  max-width: 30px;
}

.skill-title {
  font-size: 9px;
}

.profile-picture {
  max-width: 500px;
}

.landing {
  margin-top: -40px;
}

@media (max-width: 1024px) {
  .profile-picture {
    max-width: 300px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo, .skill-image, .portfolio-media-image {
    filter: brightness(100);
  }
}